[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
